@{
	ViewData["Title"] = "BB Wallet Records";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">BB Wallet Records</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group me-2">
			<a href="/import/budgetbaker/" class="btn btn-sm btn-outline-secondary">Import</a>
			@* <a asp-action="Import" type="button" class="btn btn-sm btn-outline-secondary">Import</a> *@
			@* <a asp-action="Create" type="button" class="btn btn-sm btn-outline-secondary">Create New</a> *@
		</div>
	</div>
</div>
<div id="example">
	<div id="grid"></div>
	<script src="~/js/Import/BudgetBaker/Records/index.js"></script>
</div>